<%= link_to root_path do %><button class="btn btn-primary" type="button" style="background: #dddddd;color: #000000;margin-bottom: 50px;margin-right: 0px;margin-left: 0px;">Back</button><% end %>
    <div class="container" style="margin-left: -10px;">

        <div class="row">
            <div class="col-md-12" style="margin-bottom: 10px;margin-left: 0px;"><h1><%= @home.title %></h1></div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-left: 0px;">
            <p><%= @home.body %></p>
            <ul>
              <li><%= link_to "Edit your story", edit_home_path(@home) %></li>
              <li><%= link_to "Delete your story", home_path(@home), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %></li>
            </ul>
          </div>
        </div>
    </div>

<h2>Comment Section</h2>
<% @home.comments.each do |comment| %>
<p>
  <strong> User Comments:</strong>
  <%= comment.body %>
</p>
<% end %>

<h2> Add your comment: </h2>
<%= form_with model: [ @home, @home.comments.build ] do
|form| %>
<p>
  <%= form.label :commenter %><br>
  <%= form.text_field :commenter %>
</p>
<p>
  <%= form.label :body %><br>
  <%= form.text_area :body %>
</p>
<p>
  <%= form.submit %>
</p>
<% end %>

<footer class="footer-basic" style="background: #ff69b4;">
    <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
    <ul class="list-inline">
        <%= link_to root_path do %>
        <li class="list-inline-item"><a href="#">Home</a></li>
        <% end %>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="copyright">Company Name © 2022</p>
</footer>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/script.min.js"></script>
